# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Trained models
*.pkl
*.joblib
*.h5
*.keras

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db